#Does NOT work with OverlayFS because it does not support NFS export
[Unit]
Description=docker-nfs
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop docker-nfs
ExecStartPre=-/usr/bin/docker rm docker-nfs
ExecStartPre=-/usr/sbin/modprobe nfs
ExecStartPre=-/usr/sbin/modprobe nfsd
ExecStartPre=/usr/bin/docker pull itsthenetwork/nfs-server-alpine
ExecStart=/usr/bin/docker run --rm --name docker-nfs \
    --net=host \
    --privileged \
    -v /mnt/myshare:/nfsshare \
    -e SHARED_DIRECTORY=/nfsshare \
    itsthenetwork/nfs-server-alpine:latest
    #-p 2049:2049
    #-e READ_ONLY=true
[Install]
WantedBy=multi-user.target
