[Unit]
Description=docker-nodesktop
After=docker.service
Requires=docker.service

[Service]
Type=forking
ExecStart=/usr/bin/docker-nodesktop_on.sh

[Install]
WantedBy=multi-user.target
