[Unit]
Description=docker-kodi
After=docker.service
Requires=docker.service
 
[Service]
Type=forking
ExecStart=/usr/bin/docker-kodi_on.sh
#ExecStop=/usr/bin/docker-kodi_off.sh

[Install]
WantedBy=multi-user.target
