[Unit]
Description=docker-lms
After=docker.service
Requires=docker.service
 
[Service]
Type=forking
ExecStart=/usr/bin/docker-lms_on.sh
#ExecStop=/usr/bin/docker-lms_off.sh

[Install]
WantedBy=multi-user.target
