[Unit]
Description=docker-netdata
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop docker-netdata
ExecStartPre=-/usr/bin/docker rm docker-netdata
ExecStartPre=/usr/bin/docker pull dperson/samba:latest
ExecStart=/usr/bin/docker run --name docker-netdata \
	-p 19999:19999   \
	-v netdataconfig:/etc/netdata   \
	-v netdatalib:/var/lib/netdata   \
	-v netdatacache:/var/cache/netdata   \
	-v /etc/passwd:/host/etc/passwd:ro   \
	-v /etc/group:/host/etc/group:ro   \
	-v /proc:/host/proc:ro   \
	-v /sys:/host/sys:ro   \
	-v /etc/os-release:/host/etc/os-release:ro   \
	--restart unless-stopped   \
	--cap-add SYS_PTRACE   \
	--security-opt apparmor=unconfined   \
	--hostname=MYHOST \
	netdata/netdata
[Install]
WantedBy=multi-user.target
