#Does NOT work with OverlayFS because it does not support NFS export
[Unit]
Description=docker-nfs
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop docker-nfs
ExecStartPre=-/usr/bin/docker rm docker-nfs
ExecStartPre=-/usr/sbin/modprobe nfs 
ExecStartPre=-/usr/sbin/modprobe nfsd
ExecStart=/usr/bin/docker run --rm --name docker-nfs \
    -i \
    --privileged \
    -v /mnt/RAID1/Audio/0_Music:/Music \
    -v /mnt/RAID1/Audio/00_DJ:/DJ \
    -v /mnt/RAID1/Video:/Video \
    -v /etc/docker-nfs/exports:/etc/exports:ro \
    -p 2049:2049 \
    erichough/nfs-server:1.2.0

[Install]
WantedBy=multi-user.target
